{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/desk.css') }}">
{% endblock %}
{% block title %}Mon portfolio{% endblock %}

{% block body %}
    <div id="main_D">
        
        <section id="case">
        <h1>Mon parcours</h1>
            <div class="timeline">
                <ol>
                    <li>
                        <div class="pink_circle"></div>
                        <p>Cap Coiffure</p>
                    </li>
                    <li>
                        <div class="blue_circle"></div>
                        <p>Opératrice de ligne (Europe snack, Arrivé, Briogel) - 85</p>
                    </li>
                    <li>
                        <div class="pink_circle"></div>
                        <p>Bac pro Commerce</p>
                    </li>
                    <li>
                        <div class="blue_circle"></div>
                        <p>Opératrice de ligne, Hôtesse de caisse, agent administratif, assemblage, conditionnement, manutention (Jean Routhiau, super U, Eureka, ...) - 85, 44</p>
                    </li>
                    <li>
                        <div class="pink_circle"></div>
                        <p><b>Titre professionnel développeur web et web mobile - Ecole O'clock</b></p>
                    </li>
                    <li>
                        <div class="pink_circle"></div>
                        <p>Formation Design UI - Pimp My App</p>
                    </li>
                </ol>
            </div>
            <div class="arrow_start"></div>
            <ul class="list">
                <div>
                    <li>Mise en place d’un <b>environnement</b> de développement (Linux, VSCode)</li>
                    <li>Développement d’application <b>dynamique</b> et <b>responsive</b> coté <b>client</b> (HTML5, CSS3, Javascript, AJAX)</li>
                    <li>Développement de <b>fonctionnalités</b> et d’<b>API</b> coté <b>serveur</b> ainsi qu’un système d’authentification <b>JWT</b> (PHP, Composer)</li>
                    <li>Utilisation de <b>Frameworks</b> (Bootstrap, Lumen, Symfony)</li>
                    <li>Mise en place de <b>base de données</b> (MySQL)</li>
                </div>
                <div>
                    <li>Utilisation d’outils collaboratifs et de 
                    <b>versionnage</b> (git)</li>
                    <li>Introduction à la <b>programmation orientée objet</b></li>
                    <li>Utilisation de l’architecture <b>MVC</b></li>
                    <li>Apprentissage de la méthode de travail agile <b>SCRUM</b></li>
                    <li>Spécialisation <b>Symfony</b> (routing, bundles, Doctrine, Twig, ...)</li>
                    <li>Développement d’un <b>projet complet</b> de fin de formation</li>
                </div>
            </ul>
        <a href="{{ path('app_desk') }}" id="return">Retour à la page précédente</a>
        </section>

        {% extends '_footer.html.twig' %}

    </div>
{% endblock %}