{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/desk.css') }}">
{% endblock %}
{% block title %}Mon portfolio{% endblock %}

{% block body %}
    <div id="main_D">
        
        <section id="case">
            <h1>Ma description</h1>
            <p>
                Je m'appelle Morgane Rabiller, j'ai 25 ans et je viens de terminer une formation pour devenir développeuse web. <br> <br>

                Après un long parcours à explorer des univers dans lesquels je ne me retrouvais pas (coiffure, commerce, industrie,...), j’ai découvert le développement informatique il y a maintenant 3 ans par le biais de différents sites. Après avoir passé les tests pour rentrer dans la formation O’clock que j’ai d’abord échoués,  je me suis renseigné sur les différents langages html, css, et un peu de Javascript à l’aide de différentes plateformes, après ça j’ai repassé les tests pour accéder à cette formation et je les ai réussi. J’ai donc pu intégrer la formation Développeur web et web mobile en Septembre 2021, ce qui m’a permit de passer mon titre professionnel de niveau bac +2 et de l’obtenir en Avril 2022. <br> <br>

                Je suis désormais en recherche d’une entreprise qui voudra bien m’accueillir pour mon premier emploi ou bien qui acceptera de m’employer comme alternante pour devenir concepteur développeur d’application et passer le niveau bac +3. 
            </p>
            <a href="{{ path('app_desk') }}" id="return">Retour à la page précédente</a>
        </section>

        {% extends '_footer.html.twig' %}

    </div>
{% endblock %}
